{% extends "patients/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body p-5">
        <h3 class="card-title mb-4 text-center">{{ title }}</h3>

        <div class="mb-3">
            <strong>Тип документа:</strong> {{ document.document_type.name }}
        </div>
        <div class="mb-3">
            <strong>Дата документа:</strong> {{ document.datetime_document|date:"d.m.Y H:i" }}
        </div>
        <div class="mb-3">
            <strong>{{ document.author_position|default:"Врач" }}:</strong> {{ document.author.doctor_profile.full_name|default:document.author.username }}
        </div>
        <hr>

        <h4>Данные документа:</h4>
        {% for field in form %}
            <div class="mb-2">
                <strong>{{ field.label }}:</strong> {{ field.value }}
            </div>
        {% empty %}
            <p class="text-muted">Нет данных для отображения.</p>
        {% endfor %}

        <div class="d-flex justify-content-end mt-4 pt-3 border-top">
            <a href="{{ request.GET.next|default:'/' }}" class="btn btn-outline-secondary btn-lg">
                <i class="bi bi-arrow-left me-2"></i>Назад
            </a>
            {% if request.user == document.author or request.user.is_superuser %}
            <a href="{% url 'documents:document_update' document.pk %}?next={{ request.get_full_path|urlencode }}" class="btn btn-primary btn-lg ms-2">
                <i class="bi bi-pencil-square me-2"></i>Редактировать
            </a>
            {% if document.content_object|stringformat:"s" == "patientdepartmentstatus" %}
                {% with next_url=document.content_object.get_absolute_url %}
                    <a href="{% url 'documents:document_delete' document.pk %}?next={{ next_url|urlencode }}" class="btn btn-danger btn-lg ms-2">
                        <i class="bi bi-trash me-2"></i>Удалить
                    </a>
                {% endwith %}
            {% elif document.content_object|stringformat:"s" == "encounter" %}
                {% with next_url=document.content_object.get_absolute_url %}
                    <a href="{% url 'documents:document_delete' document.pk %}?next={{ next_url|urlencode }}" class="btn btn-danger btn-lg ms-2">
                        <i class="bi bi-trash me-2"></i>Удалить
                    </a>
                {% endwith %}
            {% else %}
                <a href="{% url 'documents:document_delete' document.pk %}?next={{ request.GET.next|default:'/' }}" class="btn btn-danger btn-lg ms-2">
                    <i class="bi bi-trash me-2"></i>Удалить
                </a>
            {% endif %}
            {% endif %}
    </div>
</div>
{% endblock %}