{% extends "patients/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2 class="mb-4">{{ title }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
        <!-- Если пациент существует (редактирование) -->
    {% if patient %}
        <a href="{% url 'patient_detail' patient.pk %}" class="btn btn-secondary">Отмена</a>
    <!-- Иначе (создание) -->
    {% else %}
        <a href="{% url 'patient_list' %}" class="btn btn-secondary">Отмена</a>
    {% endif %}
</form>
{% endblock %}