{% extends "patients/base.html" %}
{% block title %}Удалить обращение{% endblock %}
{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Удалить обращение?</h4>
        <p>Вы уверены, что хотите удалить обращение №{{ encounter_number }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'encounters:encounter_detail' encounter.pk %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}